html,body {
	height: 100%;
}

body {
    font-size: 80%;
    font-family: Verdana, sans-serif;
    padding: 0 10%;
    margin: 0;
    background-color: #F6F6F6;
}

#container {
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #FFF;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 5em;
}

#stylesel {
    float: right;
}

#duck {
    float: right;
    position: relative;
    top: 0.3em;
}

#header {
    margin: 0;
    padding-top: 1.5em;
}

#logo {
    padding: 0.5em;
    height: 90px;
}

#logo img { 
    float: left;
}

#op_hours {
    font-size: xx-small;
    float: right;
}

#menu {
    margin: 0;
    /*
    background-image: url('images/papera.png');
    background-repeat: no-repeat;
    background-position: 78% 61%;
    */
}

#menu  li {
    display: inline;
    position: relative;
    bottom: -0.4em;
    padding: 0;
}

#menu ul {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
}

#menu > ul {
    margin: 0;
    border-bottom: 0.4em solid #000;
}

#menu a {
    color: #000;
    padding: 0.5em 0;
    margin: -0.5em 1em;
    text-decoration: none;
    white-space: nowrap;
}

#menu a:visited {
    color: #999;
}

#menu li.current a,
#menu li:hover a {
    color: #D00;
}

#menu li.current,
#menu li:hover {
    border-bottom: 0.2em solid #D00;
    padding-bottom: 0.1em;
}

/**
  * BODY
  */
#body {
    margin: 0;
    padding: 0.5em 1em;
    min-height: 350px;
}

.news dl {
    width: 80%;
    border: 1px dotted #000;
    padding: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.news dt {
    width: 40%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    background-image: url('images/dotarrow-white.png');
    color: #000;
    font-weight: bold;
    margin-bottom: 0.7em;
}
.news dd {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
}

#submenu {
    border-right: 1px dashed grey;
    width: 17em;
    height: 200px;
    float: left;
    position: absolute;
    margin-right: 2em;
}

#submenu li {
    list-style-type: none;
}

#submenu a {
    text-decoration: none;
}

#submenu + * {
    margin-left: 18em;
}

h1 {
    border-bottom: 1px dashed black;
}

tr {
    border-bottom: 1px solid #999; 
}
/**
  * FOOTER
  */
#footer {
/*    position: fixed;
    bottom: 0;*/
    left: 10%;
    right: 10%;
    font-size: xx-small;
    padding: 0.7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0 5%;
    /*background-color: #FFF;
    border-left: 1px solid #999;
    border-right: 1px solid #999;*/
}

#footer hr {
    border-style: solid;
    border-color: #000;
}

.half {
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.spacer {
    clear: both;
    height: 5em;
}
