{% extends 'DnuSiteBundle:Activities:base.html.twig' %}
{% set act_name = 'Acquagym' %}
{% block quote_text %}La ginnastica in acqua per tenersi sempre in forma e divertirsi a ritmo di musica{% endblock %}
{% block description %}
Acquagym comprende tutte quelle attività in acqua che hanno come finalità principale quella di
mantenere la forma fisica, migliorarla e potenziarne le capacità.
I principi del fitness in acqua sono essenzialmente due:
<ul>
    <li>L'acqua fa più resistenza ai movimenti rispetto all'aria;</li>
    <li>La quasi totale assenza di gravità e la posizione verticale in cui si eseguono gli esercizi
      favoriscono il drenaggio dei liquidi e migliorano la circolazione sanguigna</li>
</ul>
I corsi di acquagym hanno durata di 50 minuti
in cui si alternano lavori aerobici e di potenziamento muscolare sempre divertendosi a ritmo di musica.
{% endblock %}
{% block timetable %}
<ul>
    <li>Lunedì, Mercoledì e Venerdì: 20.15 - 21.05</li>
</ul>
{% endblock %}
{% block costtable %}
<table>
    <tbody>
        <tr>
            <td>1 ingresso</td>
            <td>7&euro;</td>
        </tr>
        <tr>
            <td>4 ingressi</td>
            <td>26&euro;</td>
        </tr>
        <tr>
            <td>8 ingressi</td>
            <td>50&euro;</td>
        </tr>
        <tr>
            <td>12 ingressi</td>
            <td>70&euro;</td>
        </tr>
    </tbody>
</table>
{% endblock %}
