{% extends 'DnuSiteBundle::base.html.twig' %}
{% block page_banner %}
<div id="banner" class="central">
	<img src="{{ asset('bundles/dnusite/images/pictures/main.jpg') }}" width="580" height="335" alt="" title="">
</div>
{% endblock %}
{% block page_body %}
<h1>Ultime notizie dalla Ducato Nuoto</h1>
<div class="news">
	<dl>
{% for n in news %}
		<dt>{{ n.title }}</dt>
		<dd>{{ n.body }}</dd>
{% endfor %}
	</dl>
</div>
<!--<div class="half left">
	<h1>Attività in promozione</h1>
	Avviate le iscrizioni per il corso esitivo di <a href="attivita.php?a=snb">Scuola nuoto Bambini</a>.
</div>
<div class="half right">
	<h1>Ultimi eventi</h1>
</div>-->
<div class="spacer"></div>
{% endblock %}
