{% extends 'DnuSiteBundle::base.html.twig' %}
{% block page_title %}Conferma iscrizione{% endblock %}
{% block page_body %}
<h1>Richiesta inviata</h1>
La richiesta di iscrizione è stata inviata correttamente in segreteria!<br>
Per completare l'iscrizione è sufficiente recarsi in segreteria negli orari di apertura per pagare la quota di iscrizione.
{% endblock %}
