{% extends 'DnuSiteBundle:Activities:base.html.twig' %}
{% set act_name = 'Agonismo' %}
{% block quote %}{% endblock %}
{% block description %}
<p>Il nuoto è innanzitutto uno sport! Quindi la competizione è un elemento importante per
alimentare le motivazioni di chi intende praticare questa attività.
L'attività agonistica si configura come vera e propria educazione ai valori dello sport più che
essere finalizzata al risultato. Giovani e giovanissimi iniziano a sperimentare l'importanza della
squadra come gruppo.</p>

<p><strong>L'attività agonistica può essere intrapresa unicamente per l'intera stagione agonistica e dopo
visione da parte dei nostri tecnici</strong></p>
{% endblock %}
{% block timetable %}
<ul>
    <li>Lunedì, Mercoledì e Venerdì: 19:00 - 20:30</li>
</ul>
{% endblock %}
{% block costtable %}
Pagamento in tre rate. Rivolgersi in segreteria per ulteriori dettagli.
{% endblock %}
{% block subscription %}
<ul>
    <li>50&euro; comprensivo del kit agonismo (cuffia, maglietta, pantaloncino, zaino e telo)</li>
</ul>
{% endblock %}
{% block cert %}
PER ISCRIVERSI E' NECESSARIO MUNIRSI DI CERTIFICATO MEDICO PER ATTIVITA' AGONISTICA
{% endblock %}
