{% extends 'DnuSiteBundle:Activities:base.html.twig' %}
{% set act_name = 'Scuola Nuoto Bambini' %}
{% block quote_text %}Niente paura. Imparare a nuotare è più semplice di quanto immaginiate.{% endblock %}
{% block description %}
La scuola nuoto è il punto di partenza imprescindibile di ogni attività che si svolga all'interno di un impianto natatorio. Finalità principale della scuola nuoto è quella di fornire gli strumenti adeguati per trovarsi a proprio agio in un ambiente estraneo come l'acqua, ma anche quella di gettare le basi per chi vuole fare del nuoto il proprio sport. Prima di tutto però è importante che i bambini si divertano e sviluppino un rapporto equilibrato con l'ambiente acquatico.
{% endblock %}
{% block timetable %}
<ul>
     <li>Lunedì e Giovedì: 16:10 - 17:00</li>
    <li>Lunedì e Giovedì: 17:10 - 18:00</li>
    <li>Martedì e Venerdì: 16:10 - 17:00</li>
    <li>Martedì e Venerdì: 17:10 - 18:00</li>
</ul>
{% endblock %}
{% block costtable %}
<table>
    <tbody>
        <tr>
            <td>1 ingresso prova</td>
            <td>(compreso nell'iscrizione)</td>
        </tr>
        <tr>
            <td>4 ingressi</td>
            <td>26&euro;</td>
        </tr>
        <tr>
            <td>8 ingressi</td>
            <td>50&euro;</td>
        </tr>
        <tr>
            <td>12 ingressi</td>
            <td>70&euro;</td>
        </tr>
    </tbody>
</table>
{% endblock %}
